:root {
    --main-color: #212121;
    --accent-color: #2196F3;
    --secondary-color: #757575;
}

body {
    color: var(--main-color);
    font-family: Roboto, sans-serif;
}

p,
h1,
h2,
h3,
ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
}


.conteiner {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.filter-menu {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-menu .list {
    display: flex;
    align-items: center;
    justify-content: center;


}

.filter-menu .item-menu {
    margin-right: 8px;
}

.filter-menu .item-menu:last-child {
    margin-right: 0px;
}

.filter-active {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.87;
    font-family: inherit;
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;
    border: unset;

}

.filter-active:hover,
.filter-active:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.accent-text {
    color: var(--accent-color);
}

.secondary-text {
    color: var(--secondary-color);
}

.font-medium {
    font-weight: 500;
}

.link {
    color: var(--main-color);
    text-decoration: none;
}

.link-logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    font-family: Raleway, sans-serif;

}

.logo {
    display: block;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    font-family: Raleway,
        sans-serif;
    text-decoration: none;
}

.active {
    color: var(--accent-color);
}

/* site nav */
.list {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.14;
    padding-inline-start: 0;
}

.catalog {
    margin-bottom: 50px;
}

.catalog .link {
    border-radius: 4px;
}


.catalog.list .link {
    transition-property: background-color, color, shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.catalog.list .link:hover,
.catalog.list .link:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list .link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list .link:hover,
.list .link:focus,
.address-content .list .link:hover,
.address-content .list .link:focus,
.top-contact .link:hover,
.top-contact .link:focus {
    color: var(--accent-color);
}

.site-nav .item:not(:last-child) {
    margin-right: 40px;
}

.top-contact {
    display: flex;
    margin-left: auto;
}

.top-contact .link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}

.header-icon {
    fill: currentColor;
    margin-right: 10px;
}

.header-icon:hover,
.header-icon:focus {
    color: var(--accent-color);
}




.top-contact .item+.item {
    margin-left: 50px;
}

.address-content .list .list-link {
    color: rgba(255, 255, 255, 0.6);
}

.site-contact {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.site-contact .link {
    color: var(--secondary-color);
}

.hedbord {
    border-bottom: 1px solid #ECECEC;
}

.page-header {
    display: flex;
    align-items: center;
}

.elements {
    padding: 20px 24px;
    border: solid #EEEEEE;
    border-width: 0px 1px 1px 1px;
    text-decoration: none;

}

.project-list {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0px;
}


.project-item .project-link:hover,
.project-item .project-link:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-item .project-link {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-link {
    text-decoration: none;
    display: block;
}

.project-desc {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
    transform: translateY(0);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-text {
    padding: 63px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.project-item:nth-child(3n) {
    margin-right: 0px;
}

.project-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.site-nav {
    display: flex;
    align-items: center;

}

.site-nav .link {
    display: block;

}

.site-nav .item .link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav .item .link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}

/* main section */
.main-section {
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/overlay.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;


    color: #FFFFFF;
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

}

.benefits {
    padding-top: 94px;
}

.list-menu {
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

.list-menu .item {
    width: 270px;
}

.benefits-icon {
    fill: currentColor;
}

.benefits-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}


.list-pic {
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

.list-pic .item-pic {
    width: 370px;
    display: flex;
}

.list-menu .item:not(:last-child) {
    margin-right: 30px;
}

.list-pic .item-pic:not(:last-child) {
    margin-right: 30px;
}

.desc {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}

/* Social links */

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: var(--secondary-color);


    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--accent-color);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
    fill: #FFFFFF;
}

.list-intro {
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

.list-intro .link-intro {
    width: 270px;
    text-align: center;
}

.link-intro {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;

}

.list-intro .link-intro:not(:last-child) {
    margin-right: 30px;
}

.main-section--description {
    font-weight: 900;

    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    width: 696px;
    margin: 0px auto 30px auto;
}

.main-section--btn {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.87;
    font-family: inherit;
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;
    border: unset;
}

.form-btn {
    text-align: center;
}


.btn {
    padding: 6px 22px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    font-family: inherit;
    border: unset;
}

.caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 50px;

}

.servise {
    padding-top: 94px;
    padding-bottom: 94px;
}

.item-pic {
    position: relative;
}

.overlay-pic {
    display: flex;
    overflow: hidden;
}

.text-pic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;


    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: space-around;
}



.heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    color: #212121;
}

.text {
    line-height: 1.87;
}

.caption-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.description {
    line-height: 1.71;
    font-size: 14px;
}

.list-name {
    font-weight: 500;
    line-height: 1.18;
    margin-bottom: 10px;
}

.position {
    font-size: 16px;
    line-height: 1.35;
    margin-bottom: 16px;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
}



.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-color);
}

.clients-item {
    width: 170px;
    height: 92px;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.clients-icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



/* footer */
.footer-content {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}




.address-content {
    font-style: normal;
}

.address-content .address-text {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}


.link-text {
    color: #FFFFFF;
}


.info:not(:last-child) {
    margin-bottom: 9px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.join-caption {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}



.socials-list {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-inline-start: 0px
}

.join .socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: #FFFFFF;
}

.join {
    margin-left: 70px;
}

.join .socials-icon {
    fill: #FFFFFF;
}

.join .socials-link:hover,
.join .socials-link:focus {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}

.join .socials-link:hover .socials-icon,
.join .socials-link:focus .socials-icon {
    fill: #FFFFFF;
}

.footer-submit {
    margin-left: 93px;

}

.footer-btn {
    display: flex;
    align-items: center;
    margin-left: 12px;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.87;
    font-family: inherit;
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 10px 29px;
    border: unset;
}


.footer-icon {
    margin-left: 10px;
    fill: #FFFFFF;

}

.footer-form {
    display: flex;

}

.fotter-mail {

    width: 358px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-height: 581px;
    min-width: 528px;
    background-color: #FFFFFF;
    padding: 40px;
}


.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
    fill: var(--accent-color);
}

.close-icon {

    fill: black;
    background-color: transparent;

}

.form-title {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: #212121;
}

.form-group {
    display: block;
    margin-bottom: 10px;
}

.form-group {
    position: relative;
}

.modal-form .form-group:nth-child(4) {
    margin-bottom: 20px;
}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    bottom: 15px;
    left: 10px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group:hover .form-icon,
.form-group:focus .form-icon {
    fill: var(--accent-color);
}

.form-label {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.form-wrapper {
    position: relative;
}

.form-input {
    width: 100%;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
    border-color: var(--accent-color);
}

.coment {
    padding: 12px 16px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    resize: none;

}


.form-policy-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 1px;
    margin-bottom: 30px;
}

.form-policy-description-link {
    color: var(--accent-color);
}

.custom-checkbox {
    width: 16px;
    height: 15px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    outline: 2px solid #212121;
    outline-offset: -2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.custom-checkbox {
    background-color: #2196F3;
    outline: 2px solid #2196F3;
}

.checkbox:focus+.custom-checkbox {
    border-color: #2196F3;
    outline: 2px solid #2196F3;
}

.checkbox:checked+.custom-checkbox .custom-checkbox-icon {
    opacity: 1;
}

.form-policy-description {
    text-align: center;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;

    color: #757575;
}