.hedbord {
    border-bottom: 1px solid #ececec;

    &__site-nav .item:not(:last-child) {
        margin-right: 40px;
    }

    &__site-nav {
        display: flex;
        align-items: center;

        .link {
            display: block;
            position: relative;
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }

    &__list {
        display: flex;
        margin-left: auto;
        margin-block-start: 0px;
        margin-block-end: 0px;

        .link {
            color: var(--secondary-color);
            display: flex;
            padding-top: 32px;
            padding-bottom: 32px;
            align-items: center;
        }
    }

    &__header-icon {
        fill: currentColor;
        margin-right: 10px;
    }

    &__list .item + .item {
        margin-left: 50px;
    }

    &__header-icon:hover,
    &__header-icon:focus {
        color: var(--accent-color);
    }

    &__link-logo {
        color: var(--main-color);
        text-decoration: none;
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.19;
        font-family: Raleway, sans-serif;
    }
    .hedbord__site-nav .item .link.active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background: #2196f3;
        border-radius: 2px;
    }

    .active {
        color: var(--accent-color);
    }
}
