.link-logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    font-family: Raleway, sans-serif;
}

.logo {
    display: block;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    font-family: Raleway, sans-serif;
    text-decoration: none;
}
